.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #333;
    color: #FFF;
}

.container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}